on post-fs
    symlink /dev/block/mmcblk0p64 /dev/block/by-name/vendor_b
    symlink /dev/block/mmcblk0p63 /dev/block/by-name/vendor_a
    symlink /dev/block/mmcblk0p64 /dev/block/bootdevice/by-name/vendor_b
    symlink /dev/block/mmcblk0p63 /dev/block/bootdevice/by-name/vendor_a
